.dashboard {
    position: relative;
    grid-area: dash;
    background-color: white;
    border-radius: 5px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    z-index: 1;

    &--hidden {
        pointer-events: none;
    }

    &__image-hidden {
        height: calc(100% - 50px);
        grid-area: dash;
        pointer-events: none;
        background-size: 20%;
        background-image: url("/public/images/no-draw.png");
        background-repeat: no-repeat;
        background-position: center;
        z-index: 2;
    }

    &--dimensions {
        opacity: 1;
        pointer-events: none;
        background-color: transparent;
    }
}
