@import './variables.scss';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    font-family: "Poppins", sans-serif;
}

html,
body,
#root {
    height: 100%;
}

main {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main--default {
    background-image: url(../public/images/bg-gartic.png);
    background-color: $primary-color;
}

.main--home {
    background-image: url(../public/images/bg-home.png);
}

ul {
    list-style: none;
}

.panel {
    display: grid;
    grid-template-areas: "rank dash dash"
                         "rank dash dash"
                         "rank chat chat";
    grid-template-columns: minmax(220px, 1fr) 1fr 1fr;
    grid-template-rows: 1fr 1fr 180px;
    background-color: rgba(0,89,205,.7);
    width: 90%;
    height: 90%;
    padding: 20px;
    border-radius: 10px;
    column-gap: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}